fastapi
uvicorn[standard]
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pywin32

# Vanna AI + Claude
vanna[chromadb]
anthropic

# Database drivers
pyodbc
sqlalchemy
oracledb

# HTTP & async
httpx
aiofiles

# Pydantic
pydantic
pydantic-settings
# Feedback storage (lightweight)
tinydb
chromadb
sqlglot